body {
    background-color:rgb(195, 255, 196);
    font-family: Abril FatFace;
    display: flex; 
    justify-content: center;
    align-items: center;

    font-size:3rem

}
.title{
    border-bottom: 6px solid rgb(26, 57, 26);
    border-top: 4px solid rgb(26, 57, 26);
    border-left: 2px solid rgb(26, 57, 26);
    border-right: 2px solid rgb(26,57,26)
    
    
}

body, html {
    height:100%;
    width:100%;
}